PORT="8080"
URL="https://pratagy.letsbook.com.br/reserva/selecao-de-quartos?criancas0=&destino=Pratagy+Beach+Resort+All+Inclusive&promocode=&tarifa=&numeroAdultos=2&codigoHotel=12&criancas&codigoCidade&device=Desktop&idioma=pt-BR&moeda=BRL&emailHospede"